* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --HEADER-BGCOLOR: #202124;
  --HEADER-LEFTNAV-A-COLOR: #bdc1c6;
  --HEADER-MIDDLENAV-A-COLOR: white;
  --HEADER-RIGHTNAV-APPS-MENU-COLOR: rgba(255, 255, 255, 0.87);
  --HEADER-RIGHTNAV-APPS-MENU-HOVERBGCOLOR: #303134;
  --HEADER-RIGHTNAV-A-BGCOLOR: #8ab4f8;
  --HEADER-RIGHTNAV-A-HOVERBGCOLOR: #8eb7fa;
  --HEADER-RIGHTNAV-A-COLOR: #202124;
  --HEADER-PADDING: 6px;

  --MAIN-BGCOLOR: #202124;
  --SEARCH-BAR-GLASS-COLOR: #9aa0a6;
  --SEARCH-BAR-BORDER-COLOR: #5f6368;
  --SEARCH-BAR-HOVERBGCOLOR: #303134;
  --SEARCH-BUTTON-BGCOLOR: #303134;
  --SEARCH-BUTTON-BORDERCOLOR: #303134;
  --SEARCH-BUTTON-COLOR: #e8eaed;
  --SEARCH-BUTTON-HOVERBORDERCOLOR: #5f6368;
  --LANGUAGE-SENTENCE-COLOR: #bdc1c6;
  --LANGAUGE-A-COLOR: #8ab4f8;

  --FOOTER-BGCOLOR: #171717;
  --FOOTER-COLOR: #9aa0a6;
  --FOOTER-A-COLOR: #9aa0a6;
  --FOOTER-BORDERCOLOR: #3c4043;
}

html {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

input, button {
  font: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* HEADER GENERAL */
.header {
  background-color: var(--HEADER-BGCOLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.header__nav,
.header-middle-and-right-navs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.header-middle-and-right-navs {
  padding-right: 4px;
}

/* HEADER LEFT NAV */
.header-left-nav-a {
  color: var(--HEADER-LEFTNAV-A-COLOR);
  padding: 5px;
  margin: 0 5px;
}

.header-left-nav-a:first-child {
  margin-left: 15px;
}

/* HEADER MIDDLE NAV */
.header-middle-nav {
  align-items: center;
  padding-right: 15.5px;
  padding-bottom: 1px;
}

.header-middle-nav-a {
  color: var(--HEADER-MIDDLENAV-A-COLOR);
  padding-left: 15px;
  font-size: 13px;
}

/* HEADER RIGHT NAV */
.header-right-nav-apps-menu {
  fill: var(--HEADER-RIGHTNAV-APPS-MENU-COLOR);
  box-sizing: content-box;
  padding: 8px;
  margin: 4px;
}

.header-right-nav-apps-menu:hover {
  background-color: var(--HEADER-RIGHTNAV-APPS-MENU-HOVERBGCOLOR);
  border-radius: 50%;
  cursor: pointer;
}

.header-right-nav-a {
  background-color: var(--HEADER-RIGHTNAV-A-BGCOLOR);
  color: var(--HEADER-RIGHTNAV-A-COLOR);
  border: 1px solid transparent;
  padding: 9px 24.5px;
  margin: 0 8px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.25px;
  line-height: 16px;
}

.header-right-nav-a:hover {
  text-decoration: none;
  background-color: var(--HEADER-RIGHTNAV-A-HOVERBGCOLOR);
}

/* MAIN GENERAL */
.main {
  background-color: var(--MAIN-BGCOLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
}

/* GOOGLE LOGO */
.main__figure {
  display: flex;
  height: calc(100vh - 560px);
  max-height: 290px;
  min-height: 92px;
  align-items: flex-end;
}

/* SEACH BAR */
.search-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--SEARCH-BAR-BORDER-COLOR);
  border-radius: 24px;
  height: 46px;
  max-width: 584px;
  min-width: 360px;
  width: 93.5%;
  padding: 0 8px 0 14px;
  margin: 26px 0 23px 0;
}

.search-bar:hover {
  background-color: var(--SEARCH-BAR-HOVERBGCOLOR);
  border: 1px solid transparent;
}

.search-bar-glass {
  fill: var(--SEARCH-BAR-GLASS-COLOR);
  box-sizing: content-box;
  padding-right: 13px;
}

.search-bar-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
}

.search-bar-mic,
.search-bar-cam {
  box-sizing: content-box;
  padding: 0 8px;
}

.search-bar-mic:hover,
.search-bar-cam:hover {
  cursor: pointer;
}

/* SEACH BUTTONS */
.main__button {
  background-color: var(--SEARCH-BUTTON-BGCOLOR);
  color: var(--SEARCH-BUTTON-COLOR);
  border: 1px solid var(--SEARCH-BUTTON-BORDERCOLOR);
  border-radius: 4px;
  padding: 0 16px;
  height: 36px;
  margin: 6px 4px;
}

.main__button:hover {
  border: 1px solid var(--SEARCH-BUTTON-HOVERBORDERCOLOR);
  cursor: pointer;
}

/* LANGUAGE OPTIONS */
.language-sentence {
  color: var(--LANGUAGE-SENTENCE-COLOR);
  font-size: 13px;
  margin: 23px 0 31px 0;
}

.language-link {
  color: var(--LANGAUGE-A-COLOR);
  margin: 0 3px;
}

/* FOOTER */
.footer {
  background-color: var(--FOOTER-BGCOLOR);
  color: var(--FOOTER-COLOR);
  display: flex;
  flex-flow: column nowrap;
}

.footer__a:any-link {
  color: var(--FOOTER-A-COLOR);
}

.footer-top {
  padding: 15px 30px;
  border-bottom: 1px solid var(--FOOTER-BORDERCOLOR);
  font-size: 15px;
}

.footer-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 20px;
}

.footer__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.footer__a {
  padding: 15px;
}

@media only screen and (max-width: 1200px) {
  .footer-bottom {
      justify-content: space-evenly;
  }

}

@media only screen and (max-width: 730px) {
  
  .header-right-nav-a {
      padding: 9px 16.5px;
      min-width: 0;
  }

}

@media only screen and (max-width: 596px) {
  .footer-bottom {
      flex-flow: column nowrap;
      align-items: center;
  }

  .search-bar {
      width: 93.2%;
  }

}




