@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --HEADER-BGCOLOR: #202124;
    --HEADER-COLOR: #bdc1c6;
    --HEADER-SVG-COLOR: rgba(255,255,255,0.87);
    --HEADER-BUTTON-BGCOLOR: #8ab4f8;
    --HEADER-BUTTON-COLOR: var(--HEADER-BGCOLOR);

    --MAIN-BGCOLOR: #202124;
    --MAIN-IMG-SEARCH-COLOR: #9aa0a6;
    --MAIN-SEARCH-BORDERCOLOR: #5f6368;
    --MAIN-SEARCH-HOVER-BGCOLOR: #303134;

    --MAIN-BUTTON-BGCOLOR: #303134;
    --MAIN-BUTTON-COLOR: #e8eaed;
    --MAIN-BUTTON-BORDERCOLOR: #303134;
    --MAIN-BUTTON-HOVERBORDERCOLOR: #5f6368;

    --MAIN-LANGUAGE-COLOR: #bdc1c6;
    --MAIN-LANGUAGE-LINKCOLOR: #8ab4f8;

    --FOOTER-BGCOLOR: #171717;
    --FOOTER-COLOR: #9aa0a6;
    --FOOTER-LINECOLOR: #3c4043;
}

html {
    font-size: 14px;
    font-family: arial, sans-serif;
    height: 100%;
}

body {
    background-color: var(--MAIN-BGCOLOR);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    /* position: relative; */
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
}

.nav-left__ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.nav-left__li {
    padding: 5px;
    margin: 0 5px;
}

.nav-left__li:first-child {
    margin-left: 15px;
}

.nav-right__a:hover, 
.nav-right__a:focus,
.nav-left__a:hover, 
.nav-left__a:focus {
    text-decoration: underline;
    cursor: pointer;
}

.gb_Ve {
    width: 24px;
    height: 24px;
    display: block;
    margin: auto;
    fill: var(--HEADER-SVG-COLOR);
}

.nav-right {
    font-size: 13px;
    /* height: 48px; */
    padding: 0 4px;
    /* display: block; */
}

.nav-right__ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.nav-right__li {
    padding: 6px;
    margin: 4px;
}

.nav-right__li:nth-child(3):hover,
.nav-right__li:nth-child(3):focus {
    background-color: #515151;
    border-radius: 50%;
}

.nav-left__a {
    color: var(--HEADER-COLOR);
    text-decoration: none;
}

.nav-right__a {
    color: white;
    text-decoration: none;
}

.nav-right__button {
    background-color: var(--HEADER-BUTTON-BGCOLOR);
    color: var(--HEADER-BUTTON-COLOR);
    width: 96px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: none;
    font-size: 14px;
    font-family: 'Roboto', arial, sans-serif;
}

.nav-right__button:hover,
.nav-right__button:focus {
    cursor: pointer;
    filter: brightness(105%);
}

.main__figure {
    height: calc(100vh - 10000px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    max-height: 290px;
}

.main__img-search {
    width: 20px;
    height: 20px;
    display: block;
    fill: var(--MAIN-IMG-SEARCH-COLOR);
}

.main__searchbox {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid var(--MAIN-SEARCH-BORDERCOLOR);
    border-radius: 24px;
    /* background-color: red; */
    width: 582px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 22px;
}

.goxjub,
.Gdd5U {
    width: 24px;
    height: 24px;
    display: block;
}

.main__input {
    width: 443px;
    background-color: transparent;
    border: none;
}

.main__searchbox:hover,
.main__searchbox:focus {
    background-color: var(--MAIN-SEARCH-HOVER-BGCOLOR);
    border: 1px solid var(--MAIN-SEARCH-HOVER-BGCOLOR);
}

.goxjub:hover,
.goxjub:focus,
.Gdd5U:hover,
.Gdd5U:focus {
    cursor: pointer;
}

.main__button {
    background-color: var(--MAIN-BUTTON-BGCOLOR);
    color: var(--MAIN-BUTTON-COLOR);
    border: 1px solid var(--MAIN-BUTTON-BORDERCOLOR);
    border-radius: 4px;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    margin: 11px 4px;
    padding: 0 16px;
    /* text-align: center; */
}

.main__button:hover, 
.main__button:focus {
    cursor: pointer;
    border: 1px solid var(--MAIN-BUTTON-HOVERBORDERCOLOR);
}

.main__p {
    font-size: small;
    color: var(--MAIN-LANGUAGE-COLOR);
    margin: 20px 0;
}

.main__a {
    color: var(--MAIN-LANGUAGE-LINKCOLOR);
    text-decoration: none;
}

.main__a:hover,
.main__a:focus {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: var(--FOOTER-BGCOLOR);
    color: var(--FOOTER-COLOR);
}

.footer__a {
    color: var(--FOOTER-COLOR);
    text-decoration: none;
}

.footer__navs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.footer__top {
    font-size: 15px;
    border-bottom: 1px solid var(--FOOTER-LINECOLOR);
    padding: 15px 30px;
}

.footer__left-nav-ul,
.footer__right-nav-ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2px 6px;
  align-items: center;
}

.nav-left__li {
  padding: 5px;
  margin: 0 5px;
}

.nav-left__li:first-child {
  margin-left: 15px;
}

.nav-left__a {
  color: var(--HEADER-COLOR);
}

.nav-right {
  font-size: 13px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* padding: 0 4px; */
}

.nav-right__ul:first-child {
  /* padding-right: 15px; */
}

.nav-right__ul {
  align-items: center;
}

.nav-right__li {
  padding: 6px;
  margin: 4px;
}

.gb_Ve {
  width: 24px;
  height: 24px;
  display: block;
  /* margin: auto; */
  fill: var(--HEADER-SVG-COLOR);
}

.menu-svg:hover {
  background-color: var(--MAIN-BUTTON-BGCOLOR);
  border-radius: 50%;
}

.nav-right__a {
  color: white;
}

.nav-right__button {
  background-color: var(--HEADER-BUTTON-BGCOLOR);
  color: var(--HEADER-BUTTON-COLOR);
  width: 96px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: none;
  font-size: 14px;
  font-family: "Roboto", arial, sans-serif;
}

.nav-right__button:hover {
  cursor: pointer;
  filter: brightness(105%);
}

.main__figure {
  height: calc(100vh - 560px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  max-height: 290px;
  min-height: 92px;
}

.main__img-search {
  width: 20px;
  height: 20px;
  display: block;
  fill: var(--MAIN-IMG-SEARCH-COLOR);
}

.main__searchbox {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid var(--MAIN-SEARCH-BORDERCOLOR);
  border-radius: 24px;
  width: 95%;
  max-width: 582px;
  /* width: 582px; */
  /* flex-grow: 1; */
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  margin: 22px;
}

.goxjub,
.Gdd5U {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 6px;
}

.goxjub:hover,
.Gdd5U:hover {
  cursor: pointer;
}

.main__input {
  flex-grow: 1;
  max-width: 443px;
  /* background-color: lightblue; */
  background-color: transparent;
  border: none;
  color: var(--MAIN-SEARCH-TEXTCOLOR);
  font-size: 16px;
  outline: none;
}

.main__input:any {
  border: none;
}

.main__searchbox:hover,
.main__searchbox:focus {
  background-color: var(--MAIN-SEARCH-HOVER-BGCOLOR);
  border: 1px solid var(--MAIN-SEARCH-HOVER-BGCOLOR);
  box-shadow: -2px 1px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -2px 1px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 1px 10px 0px rgba(0, 0, 0, 0.2);
}

.main__button {
  background-color: var(--MAIN-BUTTON-BGCOLOR);
  color: var(--MAIN-BUTTON-COLOR);
  border: 1px solid var(--MAIN-BUTTON-BORDERCOLOR);
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  min-width: 54px;
  margin: 11px 4px;
  padding: 0 16px;
}

.main__button:hover {
  cursor: pointer;
  border: 1px solid var(--MAIN-BUTTON-HOVERBORDERCOLOR);
}

.main__p {
  font-size: small;
  color: var(--MAIN-LANGUAGE-COLOR);
  margin: 20px 0;
}

.main__a {
  color: var(--MAIN-LANGUAGE-LINKCOLOR);
  padding: 0 5px;
}

.footer {
  /* position: fixed;
    bottom: 0; */
  display: flex;
  flex-flow: column nowrap;
  /* width: 100%; */
  background-color: var(--FOOTER-BGCOLOR);
  color: var(--FOOTER-COLOR);
}

.footer__a {
  color: var(--FOOTER-COLOR);
}

.footer__navs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 20px;
}

.footer__top {
  font-size: 15px;
  border-bottom: 1px solid var(--FOOTER-LINECOLOR);
  padding: 15px 30px;
}

.footer__left-nav-ul,
.footer__right-nav-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* background-color: red; */

}

.footer__left-nav-li,
.footer__right-nav-li {
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .footer__navs {
    flex-flow: column nowrap;
    align-items: center;
  }
}

@media only screen and (max-width: 1200px) {
  .footer__navs {
    justify-content: space-around;
  }

 /* .footer__left-nav {
    margin-left: 30px;
  } 

  .footer__right-nav {
    margin-right: 30px;
  } */
}
